<!-- Banner -->
<section class="banner">
	<div class="banner-content">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 content">
				<h3 class="fs-1 fw-bold">upto 75% off</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam deserunt nostrum accusamus. Nam alias sit necessitatibus, aliquid ex minima at!</p>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div class="swiper books-slider">
					<div class="swiper-wrapper d-flex">
						<% books.forEach(function(book) { %>
						<a href="#" class="swiper-slide"><img src="<%- book.imageBook %>" alt=""></a>
						<% }) %>
					</div>
					<img src="img/stand.png" class="stand" alt="">
				</div>
			</div>
		</div>
	</div>
</section>

<!-- List icon -->
<section class="section-icon container mt-5">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
			<div class="icons-content__section d-flex justify-content-center align-items-center">
				<i class="fas fa-shipping-fast fs-1 pb-2 text-success mx-3"></i>
				<div class="content__section">
					<h5 class="fw-bold">Free Shipping</h5>
					<p class="text-secondary">Order over $100</p>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
			<div class="icons-content__section d-flex justify-content-center align-items-center">
				<i class="fas fa-lock fs-1 pb-2 text-success mx-3"></i>
				<div class="content__section">
					<h5 class="fw-bold">Secure Payment</h5>
					<p class="text-secondary">100 Secure Payment</p>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
			<div class="icons-content__section d-flex justify-content-center align-items-center">
				<i class="fas fa-redo fs-1 pb-2 text-success mx-3"></i>
				<div class="content__section">
					<h5 class="fw-bold">Easy Returns</h5>
					<p class="text-secondary">10 Days Returns</p>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
			<div class="icons-content__section d-flex justify-content-center align-items-center">
				<i class="fas fa-headset fs-1 pb-2 text-success mx-3"></i>
				<div class="content__section">
					<h5 class="fw-bold">24/7 Support</h5>
					<p class="text-secondary">Call Us Anytime</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- 	FEATURED BOOKS --> 
<section class="featured container mt-5" id="featured">
	<h2 class="heading">
		<span>featured books</span>
	</h2>
	<div class="swiper featured-slider">
		<div class="swiper-wrapper">
			<% books.forEach(function(book){ %>
			<div class="swiper-slide box">
				<div class="image">
					<img src="<%- book.imageBook %>" alt="">
				</div>
				<div class="content">
					<h5><%- book.nameBook %></h5>
					<div class="price text-secondary"><%- book.price %>đ </div>
					<a href="/book-detail/<%- book.id %>" >
						See detail
					</a>
				</div>
			</div>
			<% }) %>
		</div>
	</div>
</section>

<!-- =========================================================== -->
<!-- SUBSCRIBE -->
<section class="subscribe-section">
	<form action="" class="form-group text-center">
		<h3 class="text-light">Subscribe For Lastest Updated</h3>
		<input type="text" class="d-block form-control" placeholder="Enter your email">
		<button class="btn btn-success mt-3"> Subscribe </button>
	</form>
</section>
<!-- ====================================================== -->
<!-- Slider ARRIVALS -->
<section class="arrivals container mt-5 mb-3" id="arrivals">
	<h1 class="heading"> <span>new arrivals</span> </h1>
	<div class="swiper arrivals-slider">
		<div class="swiper-wrapper">
			<% books.forEach(function(book) { %>
			<a href="/book-detail/<%- book.id %>" class="swiper-slide box d-flex align-items-center">
				<div class="image">
					<img src="<%- book.imageBook %>" alt="">
				</div>
				<div class="content">
					<h5><%- book.nameBook %></h5>
					<div class="price"><%- book.price%>đ</div>
					<div class="stars">
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star-half-alt text-success"></i>
					</div>
				</div>
			</a>
			<% }) %>
		</div>
	</div>
	<div class="swiper arrivals-slider">
		<div class="swiper-wrapper">
			<% books.forEach(function(book) { %>
			<a href="/book-detail/<-% book.id %>" class="swiper-slide box d-flex align-items-center">
				<div class="image">
					<img src="<%- book.imageBook %>" alt="">
				</div>
				<div class="content">
					<h5><%- book.nameBook %></h5>
					<div class="price">$<%- book.price%>đ</div>
					<div class="stars">
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star-half-alt text-success"></i>
					</div>
				</div>
			</a>
			<% }) %>
		</div>
	</div>
</section>
